* {
    margin: 0;
    padding: 0;
}

html, body {
    color: rgb(0, 0, 0);
}

body {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal 14px Arial;
    background-color: #000;
    color: #cccccc;
}

.a {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #cccccc;
    letter-spacing: 1px;
    padding: 0px 10px;
    display: inline-block;
}

.a:hover {
    color: #cccccc;
}

.centered-box {
    width: 50%;
    padding: 30px;
    background-color: rgba(172, 38, 190, 0.192);
    color: #cccccc;
    text-align: center;
    margin-bottom: 20px;
}

.main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 14px;
    padding-top: 20px;
}

.discord-widget {
    display: block;
    margin: 0 auto;
}

.logo, .dc, .pfp .rufusimg {
    max-width: 100%;
    height: auto;
}

.rufusimg{
    width: 333px;
}

.logo {
    width: 72px;
}

.dc {
    width: 450px;
}

.pfp {
    width: 333px;
}

.mc {
    width: 333px;
}


.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
}

.social-icons a {
    flex: 0 0 auto;
    margin: 0 5px;
}

.scroll-to-social {
    color: #2b59af;
    text-decoration: none;
    border-radius: 5px;
}

.b {
    color: #2b59af;
    text-decoration: none;
    border-radius: 10px;
    font: normal 20px Cursive;
}
.b2 {
    color: #2b59af;
    text-decoration: none;
    border-radius: 10px;
}

.qa-table {
    width: 72%;
    border-collapse: collapse;
    margin-top: 20px;
}

.qa-table td {
    border: 2px solid #cccccc;
    padding: 15px;
    text-align: left;
}

.qa-table .question {
    width: 27%;
    background-color: #af2b2b65;
    color: #ffffff;
}

.qa-table .answer {
    width: auto;
}

.qa-table .answer .grigio {
    color: #cccccc;
}

.qa-table .answer .verde {
    color: #7BB602;
}

h1, h2, h3, h4, h5, h6 {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#welcome-text {
    color: #ffffff;
    font-size: 18px;
    margin: 20px 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #ffffff;
    padding-right: 5px;
}


.description {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-wrapper {
    position: relative;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px; /* Aggiungi margine a sinistra */
}

.image-wrapper:hover .description {
    display: block;
}

@media (hover: hover) and (pointer: fine) {
    .image-wrapper:hover .description {
        display: block;
    }
}

@media (max-width: 768px) {
    .centered-box, .qa-table, .pfp {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .centered-box, .qa-table {
        width: 95%;
    }

    .image-wrapper {
        width: 100%; /* Assicurati che il wrapper occupi tutta la larghezza */
        display: flex;
        justify-content: center;
        margin-right: 0; /* Rimuovi il margine a destra */
        margin-left: 0;  /* Rimuovi il margine a sinistra */
    }

    .pfp, .rufusimg {
        width: 85%;
        height: auto;
        margin: 0 auto; /* Centra l'immagine */
    }
}






@media (max-width: 768px) {
    .centered-box, .qa-table, .pfp {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .centered-box, .qa-table {
        width: 95%;
    }

    .pfp, .rufusimg {
        width: 85%;
    }
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}





.countdown-container {
    text-align: center;
    background: #00000000;
    color: #cccccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 90%;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#countdown div {
    background: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    font-size: 20px;
}

#countdown span {
    display: block;
    font-size: 36px;
    margin-bottom: 5px;
}
