* {
    margin: 0;
    padding: 0;
}

html, body {
    color: rgb(0, 0, 0);
}

.a {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #cccccc;
    letter-spacing: 1px;
    padding: 0px 10px;
    display: inline-block;
}

.a:hover {
    color: #cccccc;
}
  
body {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal 14px Arial;
        background-color: #000;
        color: #cccccc;
}

.centered-box {
    width: 50%; 
    padding: 30px;
    background-color: rgba(172, 38, 190, 0.192);
    color: #cccccc;
    text-align: center;
    margin-bottom: 20px;
}

.main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 14px;
    padding-top: 20px; 
}

.discord-widget {
    display: block;
    margin: 0 auto;
}

.logo {
    width: 72px;
    max-width: 100%;
    height: auto;
}

.dc {
    width: 450px;
    height: auto;
}
.pfp{
    width: 400px;
    height: auto;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
}

.social-icons a {
    flex: 0 0 auto;
    margin: 0 5px; 
}

.scroll-to-social {
    color: #2b59af; 
    text-decoration: none;
    border-radius: 5px;
}

.b {
    color: #2b59af; 
    text-decoration: none;
    border-radius: 10px;
    font: normal 20px Cursive;
}

.qa-table {
    width: 72%;
    border-collapse: collapse;
    margin-top: 20px;
}

.qa-table td {
    border: 2px solid #cccccc;
    padding: 15px;
    text-align: left;
}

.qa-table .question {
    width: 27%;
    background-color: #af2b2b65;
    color: #ffffff;
}

.qa-table .answer {
    width: auto;
}

.qa-table .answer .grigio {
    color: #cccccc; 
}
.qa-table .answer .verde {
    color: #7BB602;
}
.dog {
    width: 250px;
    height: auto;
}

.logo, .dc {
    max-width: 100%;  /* Le immagini non supereranno mai la larghezza del loro contenitore */
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .centered-box {
        width: 90%;
    }
    .qa-table{
        width: 90%;
    }
    .pfp{
        width: 90%;
    }
}

/* Stile per schermi ancora più piccoli, come dispositivi mobili */
@media (max-width: 480px) {
    .centered-box {
        width: 95%;
    }
    .qa-table{
        width: 95%;
    }
    .pfp{
        width: 85%;
    }
}