body {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal 14px Arial;
    color: #cccccc;
    background: #000000 none repeat scroll top left;
}

.a {
    position: relative;
    text-align: left;
    text-decoration: none;
    color: #cccccc;
    letter-spacing: 1px;
    padding: 10px;
    display: inline-block;

}

.a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.048);
}

.b, .c {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.b {
    color: #2b59af;
}

.c {
    color: #af2b2b;
}

h1 {
    font-size: 2em;
    color: #ffffff;
    margin: 20px 0;
    text-align: center;
}

.main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

@media (max-width: 768px) {
    .video-container {
        width: 90%;
    }
    iframe {
        height: 400px;  
    }
}

@media (max-width: 480px) {
    .video-container {
        width: 95%;
    }
    iframe {
        height: 300px;  
    }
}

iframe {
    width: 100%;
    height: 600px;
    max-width: 1200px;
    margin: 20px 0;
    border: 2px solid #cccccc;
    border-radius: 3px;
}
