* {
    margin: 0;
    padding: 0;
}

html, body {
    color: rgb(0, 0, 0);
}

.a {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #cccccc;
    letter-spacing: 1px;
    padding: 0px 10px;
    display: inline-block;
}

.a:hover {
    color: #cccccc;
}
  
body {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal 14px Arial;
    color: #cccccc;
    background: #000000 none repeat scroll top left;
}


.main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

.b {
    color: #2b59af; 
    text-decoration: none;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .centered-box {
        width: 90%;
    }
}

/* Stile per schermi ancora più piccoli, come dispositivi mobili */
@media (max-width: 480px) {
    .centered-box {
        width: 95%;
    }
}